
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.exe
*.pdb
*.bat
*.obj
*.tlog
*.txt
Bat/x64/Debug/Bat.Build.CppClean.log
Bat/x64/Debug/Bat.dll.recipe
Bat/x64/Debug/Bat.exe.recipe
Bat/x64/Debug/Bat.ilk
Bat/x64/Debug/Bat.log
Bat/x64/Debug/Bat.res
Bat/x64/Debug/vc143.idb
Bat/x64/Release/Bat.Build.CppClean.log
Bat/x64/Release/Bat.exe.recipe
Bat/x64/Release/Bat.iobj
Bat/x64/Release/Bat.ipdb
Bat/x64/Release/Bat.log
Bat/x64/Release/Bat.res
